:root{
    --secondary-font:'DM Sans';
}
.dashboard-container{
    width: 100%;
    padding:15px 12px;
    background-color: #fff;
    height: 10vh;
    border-bottom: 1px solid #d1d3d5;
    gap:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.dsh-inner-container{
    display:flex;
    flex-direction: column;
}
.greetings-dashboard{
    color:#223a6b;
    font-size:1.62rem;
    font-family: var(--secondary-font);
}
.date-dashboard{
    color:#64748b;
    font-size:0.75rem;
    font-family: var(--secondary-font);
}
.dsh-right{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:50px;
    width: 30%;
}
.search-bar{
    width: 100%;
}
.settings-dsh{
    display: flex;
}