.subject-card{
    width: 48%;
    margin:26px;
    padding:10px 12px;
    display:flex;
    flex-direction: column;
    gap:30px;
    background-color: #fff;
    border: 1px solid #d1d3d5;
    border-radius: 12px;
}